/*
font-family: "Jersey 10", serif;
*/

:root {
  --square-width: 120px;
  --square-height: 120px;
  --square-font-size: 7rem;
}

body {
  color: white;
  background: rgb(15,9,37);
  background: radial-gradient(circle, rgba(15,9,37,1) 0%, rgba(3,1,14,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Jersey 10", serif;
  font-size: 1.5rem;
}

h1 {
  font-size: 1.3rem;
}

.game-board {
  border: 1px solid;
  display: inline-flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.square {
  width: var(--square-width);
  height: var(--square-height);
  box-sizing: border-box;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--square-font-size);
  transition: background-color 0.6s ease;
}

.square:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.play-as-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  margin: 1rem;
  padding: 1rem;
}

.play-as-screen .options {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.play-as-screen .options div {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 3rem;;
}

.play-as-screen .options div:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.playing {
  margin: 1rem;
  font-size: 2rem;
}

.reset {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  :root {
    --square-width: 100px;
    --square-height: 100px;
    --square-font-size: 5rem;
  }
  h1 {
    font-size: 0.5rem;
  }
}
@media (max-width: 375px) {
  :root {
    --square-width: 70px;
    --square-height: 70px;
    --square-font-size: 4rem;
  }
}
